:root {
    --fonts: ui-serif, "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    --code-fonts: ui-monospace, Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";

    --canvas: rgb(255, 255, 255);
    --canvas-text: rgb(27, 27, 27);
    --secondary-canvas-text: rgb(100, 100, 100);
}

@media (prefers-color-scheme: dark) {
    :root {
        --canvas: black;
        --canvas-text: rgb(210, 210, 210);
        --secondary-canvas-text: rgb(140, 140, 140);
    }
}

body {
    background: var(--canvas);
    color-scheme: light dark;
    color: var(--canvas-text);
    font-family: var(--fonts);
    padding: 5ex;
    margin-left: auto;
    margin-right: auto;
    max-width: 75ex;
}

a {
    color: inherit;
}

pre,
code,
pre tt {
    font-family: var(--code-fonts);
}

body > header {
    text-align: center;
}

header h1,
main h1 {
    margin-bottom: 5px;
}

header aside p {
    margin-top: 5px;
}

main.landing-page {
    margin-top: auto;
    margin-bottom: auto;
}

main.landing-page ul,
header nav ul,
main ul.articles {
    list-style: none;
}

main.landing-page ul {
    padding-left: 0;
}

main.landing-page ul h2,
main.landing-page ul p {
    display: inline-block;
    width: 45%;
}

main.landing-page li {
    font-size: small;
}

main.landing-page li > * {
}

main.landing-page li h2 {
    text-align: right;
    vertical-align: top;
}

main.landing-page li p {
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
}

@media (max-width: 600px) {

    main.landing-page li h2 {
        text-align: left;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
    }

    main.landing-page li p {
        display: block;
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
    }

    main .articles {
        padding-left: 0;
    }
}

main.landing-page li:first-child {
    margin-top: 25px;
}

main.landing-page li:not(:first-child) {
    margin-top: 15px;
}

header nav ul {
    margin-top: 5px;
    padding-left: 0;
}

header nav li {
    display: inline;
}

header nav li:not(:last-child) {
    margin-right: 20px;
}

header nav h2 {
    display: inline;
    font-size: medium;
}

main {
    line-height: 27px;
}

main .articles time,
article header time,
article header .tags {
    color: var(--secondary-canvas-text);
}

article header .tags {
    margin-top: 0;
    padding-left: 0;
}

article header .tags li {
    display: inline;
}

article header .tags li:first-child {
    margin-left: 5px;
}

article header .tags li:not(:last-child)::after {
    content: ", ";
}

article header + p {
    margin-top: 25px;
}

main .articles,
main article header,
main > p {
    padding-top: 25px;
}

main .articles li time {
    display: block;
}

main article h2 {
    margin-bottom: 0;
}

main .articles h2 {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 20px;
}

pre {
    border: 1px solid var(--secondary-canvas-text);
    padding: 15px;
    overflow: scroll;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

