:root {
    --fonts: ui-serif, "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    --code-fonts: ui-monospace, Consolas, "Andale Mono WT", "Andale Mono", Menlo, Monaco, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, "YaHei Consolas Hybrid", monospace, "Segoe UI Emoji", "PingFang SC", "Microsoft YaHei";

    --canvas: rgb(255, 255, 255);
    --canvas-text: rgb(27, 27, 27);
}

@media (prefers-color-scheme: dark) {
    :root {
        --canvas: black;
        --canvas-text: rgb(210, 210, 210);
    }
}

body {
    background: var(--canvas);
    color-scheme: light dark;
    color: var(--canvas-text);
    font-family: var(--fonts);
    margin-left: auto;
    margin-right: auto;
    width: 70ex;
}

a {
    color: inherit;
}

pre,
code,
pre tt {
    font-family: var(--code-fonts);
}

header {
    text-align: center;
}

header h1,
main h1 {
    margin-bottom: 5px;
}

main.landing-page {
    margin-top: auto;
    margin-bottom: auto;
}

main.landing-page ul,
header nav ul {
    list-style: none;
}

main.landing-page ul {
    padding-left: 0;
}

main.landing-page ul h2,
main.landing-page ul p {
    display: inline-block;
    width: 45%;
}

main.landing-page li {
    font-size: small;
}

main.landing-page li > * {
}

main.landing-page li h2 {
    text-align: right;
    vertical-align: top;
}

main.landing-page li p {
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
}

main.landing-page li:first-child {
    margin-top: 25px;
}

main.landing-page li:not(:first-child) {
    margin-top: 15px;
}

header nav ul {
    margin-top: 5px;
    padding-left: 0;
}

header nav li {
    display: inline;
}

header nav li:not(:last-child) {
    margin-right: 20px;
}

main {
    line-height: 25px;
}
